@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
);
@import url('https://fonts.googleapis.com/css?family=Mochiy Pop One');

body {
    background-image: url('assets/Background Pattern/Background Pattern.svg');
}

.text {
    font-family: 'Mochiy Pop One';
    font-size: 104px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 6px;
    text-align: center;
}

/* This is for crousel */
.dot-box {
    text-align: center;
    margin-top: -30px;
}

.dot {
    display: inline-block;
    height: 7.7px;
    width: 8px;
    margin: 0 2px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #bbb2b2;
}

.gallery-button {
    padding: 10px;
    border-radius: 16px;
    background-color: #59CDFF;
    border-bottom: 4px solid #1375E4;
    color: white;
    font-size: 20px;
}

.Submit-entry-button {
    margin-top: 50px;
    background-color: #59CDFF;
    border-bottom: 4px solid #1375E4;
    border-radius: 16px;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.gallery-Div {
    display: grid;
    justify-content: end;
    margin-top: 20px;
}

.Submit-Div {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}


.main-container {
    display: grid;
    gap: 25px;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    grid-template-columns: repeat(2, minmax(150px, 300px));
    grid-template-rows: repeat(2, 1fr);
    margin-top: 30px;

}

.front-card {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}


.back-card {
    border-radius: 10%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.alphabet-img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10%;
}

.alphabet-word {
    font-size: 20px;
    font-family: 'Mochiy Pop One';
    text-align: center;
    color: #1375E4;
}


.flip-card {
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0px 8px 10px 0px;
    border-radius: 10%;
    position: relative;
}

.flip-card.flipped {
    transform: rotateY(180deg);

}


/* Navigation Bar*/

header {
    text-align: center;
}

.navigation-bar {
    background: #1375E4;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 12px;
}

.navigation-bar img {
    margin-top: 10px;
    border-radius: 30px;
}

.nav-item:hover {
    background-color: blue;
}

.nav-item p {
    margin-top: 5px;
}



/* footer */

footer {
    background: #1375E4;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.footer-ul {
    list-style: none;
    margin-left: 30px;
}

.footer-ul a {
    text-decoration: none;
    color: white;
}

.sajhe-sapne-logo {
    border-radius: 50%;
    height: 80px;
    margin-left: 70px;
    margin-top: 20px;


}

.fa {
    height: 15px;
    width: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;

}

.follow-us {
    margin-left: 50px;

}

.follow-us a {
    text-decoration: none;
}

.follow-us p {
    margin-left: 25px;

}

.sajhe-link {
    text-decoration: none;
    color: white;
    margin-left: 60px;
}

.icons {
    margin-top: 50px;
}

.crousel {
    height: 100%;
    width: 100%;
}

.crousel-img {
    text-align: center;
}

.pattern1 {
    color: #FF8A00;
    background-image: url(assets/pattern/pettern1.svg);

    background-size: 300%;
    background-color: #FFB800;

}

.pattern2 {
    color: #8030D4;
    background-image: url(assets/pattern/pettern2.svg);
    background-size: 250%;
    background-color: #A55FEF;
}

.pattern3 {
    color: #1375E4;
    background-image: url(assets/pattern/pattern3.svg);
    background-size: 300%;
    background-color: #59AFFF;
}

.pattern4 {
    color: #DA2D65;
    background-image: url(assets/pattern/pattern4.svg);
    background-size: 200%;
    background-color: #F36291;

}

.pattern5 {
    color: #D83400;
    background-image: url(assets/pattern/pattern5.svg);
    background-size: 150%;
    background-color: #FF8A00;
}

.pattern6 {
    color: #007352;
    background-image: url(assets/pattern/pattern6.svg);
    background-size: 100%;
    background-color: #36E1AE;
}

.alphabet-art-logo {
    width: 50%;
    height: 50%;
}


@media (min-width:320px) {
    .main-container {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

}

@media (min-width:481px) {
    .main-container {
        grid-template-columns: repeat(2, minmax(220px, 1fr));
    }

}

@media (min-width:641px) {
    .main-container {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

}

@media (min-width:961px) {
    .main-container {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

}

@media (min-width:1025px) {
    .main-container {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

}

@media (min-width:1281px) {
    .main-container {
        grid-template-columns: repeat(3, minmax(400px, 1fr));
    }

}