@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Mochiy Pop One");
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    margin: 0;
}

/* Logo */
.logo img {
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #1375E4;
    font-family: 'Mochiy Pop One';
    font-weight: 400;
    font-size: 1em;
    color: #FFFFFF;
}

nav div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    /* margin: 5px auto; */
}

nav div img {
    border-radius: 50%;
}

nav div p {
    margin: 0;
}

/* workshop image */
.workshop-image {
    height: 200px;
    min-width: 200px;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

/* payment Confirmation heading */
.payment {
    color: #1375E4;
    font-family: 'Mochiy Pop One';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.payment h1 {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
}

/* Table */
table {
    width: 90%;
    min-width: 75px;
    margin: auto;
    border-collapse: collapse;
    border-radius: 24px;
}

#table-div{
    border-radius: 20px;
}

.first-row {
    background: #1375E4;
    color: #FFFFFF;
    height: 40px;
}

.second-row {
    background: #D9EBFF;
    color: #1375E4;
    font-family: Roboto;
    text-align: center;
    height: 72px;
}

.return-home {
    width: 90%;
    margin: auto;
}

.return-home a {
    color: #1375E4;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.sapne-waalis h2 {
    font-family: 'Mochiy Pop One';
    color: #1375E4;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
}

.fa {
    color: red;
}

.paragraph-text {
    color: #8C97A4;
    width: 91%;
    margin: auto;
    padding: 20px;
    font-family: Roboto;
}

/* Footer */
footer {
    background-color: #1375E4;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    margin-top: 5px;
}

.social-media,
.links {
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

.social-media {
    padding-top: 10px;
}

.social-media p {
    margin-bottom: 25px;
}

.social-media ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin-top: -10px;
}

.social-media ul li {
    margin-right: 5px;
}

.social-media ul li img {
    border-radius: 20%;
}

.links ul {
    list-style: none;
    padding-left: 0;
}

.links ul li {
    margin-bottom: 15px;
}

.links ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.9;
}

.social-media img:hover {
    cursor: pointer;
    opacity: 0.9;
}